@model IEnumerable<PurchaseManagementSystem.Models.Issuance>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iss_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qnty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iss_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qnty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.iss_id" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.iss_id" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.iss_id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
