@model IEnumerable<PurchaseManagementSystem.Models.Purchase>

@{
    ViewData["Title"] = "ALLPurchaseData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:200px; margin-left:230px">Purchase Management System</h1>
<h1 style="margin-top:50px; margin-left:230px">Purchase Detail Report</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@DateTime.Now;
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Purchase Item")
            </th>
            <th>
                @Html.DisplayName("Purchase Quantity")
            </th>
            <th>
                @Html.DisplayName("Purchase Date")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Vendor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pur_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pur_qnty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pur_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pur_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendor)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.pur_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.pur_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.pur_id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
