@model IEnumerable<PurchaseManagementSystem.Models.Item>

@{
    ViewData["Title"] = "ItemReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:100px; margin-left:230px">Purchase Management System</h1>
<h1 style="margin-top:20px; margin-left:240px">Searched Item Detail Report</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@DateTime.Now;

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Item Name")
            </th>
            <th>
                @Html.DisplayName("Item Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.item_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_status)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.item_id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.item_id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.item_id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


