@model PurchaseManagementSystem.Models.Purchase

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Purchase Item")
                <input asp-for="pur_item" class="form-control" />
                <span asp-validation-for="pur_item" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Purchase Qantity")
                <input asp-for="pur_qnty" class="form-control" />
                <span asp-validation-for="pur_qnty" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Purchase Date")
                <input asp-for="pur_date" class="form-control" />
                <span asp-validation-for="pur_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Price")
                <input asp-for="pur_price" class="form-control" />
                <span asp-validation-for="pur_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Vendor Name")
                <input asp-for="vendor" class="form-control" />
                <span asp-validation-for="vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

