@model PurchaseManagementSystem.Models.Purchase

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Purchase Item")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pur_item)
        </dd>
        <dt>
            @Html.DisplayName("Purchase Quantity")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pur_qnty)
        </dd>
        <dt>
            @Html.DisplayName("Purchase Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pur_date)
        </dd>
        <dt>
            @Html.DisplayName("Price")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pur_price)
        </dd>
        <dt>
            @Html.DisplayName("Vendor Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vendor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pur_id" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
