@model IEnumerable<PurchaseManagementSystem.Models.Purchase>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Purchase Item")
            </th>
            <th>
                @Html.DisplayName("Purchase Qantity")
            </th>
            <th>
                @Html.DisplayName("Purchase Date")
            </th>
            <th>
                @Html.DisplayName("Purchase Price")
            </th>
            <th>
                @Html.DisplayName("Vendor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pur_item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pur_qnty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pur_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pur_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pur_id" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pur_id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pur_id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
